{% extends "base.html" %}
{% import "partials/i18n.html" as i18n with context %}

{% block title %}{{ SITENAME }} - {{ i18n.t("Authors") }}{% endblock title %}

{% set _cover_src = HEADER_COVER or HOME_COVER %}
{% if _cover_src %}
  {% set banner_cover = _cover_src if _cover_src|lower|truncate(4, True, '') == "http" else (STATIC_SITEURL|default(SITEURL)) + ("" if _cover_src.startswith('/') else "/") + _cover_src %}
{% elif HEADER_COLOR %}
  {% set banner_color = HEADER_COLOR %}
{% endif %}

{% if authors %}
{% set body_class = 'authors-template' %}
{% set current_url = '/' ~ AUTHORS_URL|default('authors/') %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors/') }}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
  {% set banner_title = i18n.t("Authors") %}
  {% include "partials/listing_banner.html" %}
{% endblock header %}

{% block content %}
<div id="index" class="container">
  <main id="site-main" class="content">
    <article class="post">
      <div class="inner">
        <section class="post-content">
          <ul class="series-index">
          {% for author, articles in authors|sort %}
            {% set author_name = author.name | title %}
            {% if AUTHOR_META and author.name in AUTHOR_META and AUTHOR_META[author.name].name %}{% set author_name = AUTHOR_META[author.name].name %}{% endif %}
            <li>
              <a class="series-index-link" href="{{ SITEURL }}/{{ author.url }}">
                <span class="series-index-name">{{ author_name }}</span>
                <span class="series-index-count">{{ articles|count }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </section>
      </div>
    </article>
  </main>
</div>
{% endblock content %}
