{% extends "base.html" %}
{% import "partials/i18n.html" as i18n with context %}

{% block title %}{{ SITENAME }} - Articles in the {{ category }} category{% endblock %}

{% set category_cover = None %}
{% set category_color = None %}
{% set category_description = None %}
{% if CATEGORY_META and CATEGORY_META[category.name.lower()] %}
  {% set category_cover = CATEGORY_META[category.name.lower()].cover %}
  {% set category_color = CATEGORY_META[category.name.lower()].color %}
  {% set category_description = CATEGORY_META[category.name.lower()].description %}
{% endif %}

{% set _cover_src = category_cover or HEADER_COVER or HOME_COVER %}
{% if _cover_src %}
  {% set banner_cover = _cover_src if _cover_src|lower|truncate(4, True, '') == "http" else (STATIC_SITEURL|default(SITEURL)) + ("" if _cover_src.startswith('/') else "/") + _cover_src %}
{% elif category_color or HEADER_COLOR %}
  {% set banner_color = category_color or HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{category.url}}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
  {% set banner_title = (CATEGORY_TRANSLATIONS|default({})).get(category.name, category.name) %}
  {% set banner_sub = category_description or i18n.t("%(count)s Posts", count=articles|count) %}
  {% include "partials/listing_banner.html" %}
{% endblock header %}

{% block content %}
  {% include "partials/post_list.html" %}
{% endblock content %}
