{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% include "partials/og.html" %}
  {% include "partials/jsonld.html" %}
{% endblock %}

{# Optional banner cover image / colour (HEADER_COVER, HOME_COVER, HEADER_COLOR, HOME_COLOR). #}
{% set _cover_src = HEADER_COVER or HOME_COVER %}
{% if _cover_src %}
  {% set banner_cover = _cover_src if _cover_src|lower|truncate(4, True, '') == "http" else (STATIC_SITEURL|default(SITEURL)) + ("" if _cover_src.startswith('/') else "/") + _cover_src %}
{% elif HEADER_COLOR or HOME_COLOR %}
  {% set banner_color = HEADER_COLOR or HOME_COLOR %}
{% endif %}

{% block header %}
  {% set banner_title = SITENAME %}
  {% set banner_sub = SITESUBTITLE %}
  {% include "partials/listing_banner.html" %}
{% endblock header %}

{% block content %}
  {% include "partials/post_list.html" %}
{% endblock content %}
