{% extends "index.html" %}

{% set body_class = 'series-list-template' %}
{% set _ss = SERIES_LIST_SAVE_AS|default('') %}
{% set current_url = ('/' ~ _ss[:-10] if _ss[-10:] == 'index.html' else '/' ~ _ss) if _ss else '/' ~ SERIES_LIST_URL|default('series/') %}

{% block content %}
  <!-- Post content -->
  <main id="site-main" class="content">
    <article class="post">
      <div class="inner">
        <section class="post-content">
          <h1>{% trans %}Article Series{% endtrans %}</h1>

          {# Build series dict from articles to work around the series plugin
             global variable being overwritten across i18n subsites #}
          {% set ns = namespace(seen={}) %}
          {% for a in articles if a.series is defined %}
            {% if a.series.name not in ns.seen %}
              {% set _ = ns.seen.update({a.series.name: a.series.all[0]}) %}
            {% endif %}
          {% endfor %}

          {% for series_name, first_article in ns.seen.items() %}
          <li>
            <a href="{{ SITEURL }}/{{ first_article.url }}">{{ series_name }}</a>
          </li>
          {% endfor %}

        </section>
      </div>
    </article>
  </main>
{% endblock content %}
