{% extends "index.html" %}

{% block content %}
  <!-- Post content -->
  <main class="content" role="main">
    <article class="post">
      <div class="inner">
        <section class="post-content">
          <h1>Article Series</h1>

          {% for series_name, series_articles in article_series.items() %}
          {% if series_articles %}
          {% set article = series_articles[0] %}
          <li>
            <a href="{{ article.url }}">{{ series_name }}</a>
          </li>
          {% endif %}
          {% endfor %}

        </section>
      </div>
    </article>
  </main>
{% endblock content %}
