{% extends "base.html" %}
{% import "partials/i18n.html" as i18n with context %}

{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}

{% set tag_cover = None %}
{% set tag_color = None %}
{% set tag_description = None %}
{% if TAG_META and TAG_META[tag.name.lower()] %}
  {% set tag_cover = TAG_META[tag.name.lower()].cover %}
  {% set tag_color = TAG_META[tag.name.lower()].color %}
  {% set tag_description = TAG_META[tag.name.lower()].description %}
{% endif %}

{% set _cover_src = tag_cover or HEADER_COVER or HOME_COVER %}
{% if _cover_src %}
  {% set banner_cover = _cover_src if _cover_src|lower|truncate(4, True, '') == "http" else (STATIC_SITEURL|default(SITEURL)) + ("" if _cover_src.startswith('/') else "/") + _cover_src %}
{% elif tag_color or HEADER_COLOR %}
  {% set banner_color = tag_color or HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{tag.url}}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
  {% set banner_title = "#" ~ (tag.name | title) %}
  {% set banner_sub = tag_description or i18n.t("%(count)s Posts", count=articles|count) %}
  {% include "partials/listing_banner.html" %}
{% endblock header %}

{% block content %}
  {% include "partials/post_list.html" %}
{% endblock content %}
