<script src="{{ STATIC_SITEURL|default(SITEURL) }}/{{ THEME_STATIC_DIR }}/js/script.js" defer></script>

{% include "partials/analytics_script.html" %}
{% include "partials/comments_script.html" %}
{% include "partials/search_script.html" %}
{% include "partials/plugin_script.html" %}
{% include "partials/clipboard_script.html" %}

<!-- Script specified by the user -->
{% for js in JS_OVERRIDE|default([]) %}
  {% if js.startswith("http") %}
    {% set js_src = js %}
  {% elif js.startswith("/") %}
    {% set js_src = SITEURL + js %}
  {% else %}
    {% set js_src = SITEURL + '/' + js %}
  {% endif %}
  <script src="{{ js_src }}" defer></script>
{% endfor %}
