{% set global_feeds = [
  ("atom", FEED_ALL_ATOM),
  ("rss", FEED_ALL_RSS),
  ("atom", FEED_ATOM),
  ("rss", FEED_RSS)
] %}

{% for fmt, feed in global_feeds if feed %}
<link href="{{ FEED_DOMAIN }}/{{ feed }}" type="application/{{ fmt }}+xml"
      rel="alternate" title="{{ SITENAME }} Full {{ fmt|upper }} Feed" />
{% endfor %}

{% set entity_feeds = [
  ("category", CATEGORY_FEED_ATOM, CATEGORY_FEED_RSS, category),
  ("tag", TAG_FEED_ATOM, TAG_FEED_RSS, tag),
  ("author", AUTHOR_FEED_ATOM, AUTHOR_FEED_RSS, author)
] %}

{% for entity_name, atom_feed, rss_feed, entity in entity_feeds if entity %}
  {% if atom_feed %}
  <link href="{{ FEED_DOMAIN }}/{{ atom_feed.format(slug=entity.slug) }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} {{ entity_name|capitalize }} Atom Feed" />
  {% endif %}

  {% if rss_feed %}
  <link href="{{ FEED_DOMAIN }}/{{ rss_feed.format(slug=entity.slug) }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} {{ entity_name|capitalize }} RSS Feed" />
  {% endif %}
{% endfor %}
