<div class="nav-footer">
  <nav class="nav-wrapper" aria-label="Footer">
    <span class="nav-copy">{{ SITENAME }} &copy; {{ COPYRIGHT_YEAR|default(2026) }}
    {% for name, link in SOCIAL if name.lower() in ["rss", "rss-square", "feed"] %}
      <a class="nav-rss" title="RSS" href="{{ link }}" target="_blank"><i class="icon icon-rss"></i></a>
    {% endfor %}
    </span>

    <span class="nav-credits">
      {% if SHOW_CREDITS|default(True) %}
        {% if SHOW_CREDITS and SHOW_CREDITS.left %}
          {% set left=SHOW_CREDITS.left %}
        {% else %}
          {% set left %}{% trans %}Theme{% endtrans %} <a href="https://github.com/arulrajnet/attila" rel="nofollow">Attila</a> &bull;{% endset %}
        {% endif %}
        {% if SHOW_CREDITS and SHOW_CREDITS.right %}
          {% set right=SHOW_CREDITS.right %}
        {% else %}
          {% set pelican_link %}<a href="https://github.com/getpelican/pelican" rel="nofollow">Pelican</a>{% endset %}
          {% set attila_link %}<a href="https://github.com/arulrajnet/attila" rel="nofollow">Attila</a>{% endset %}
          {% set left %}{% trans pelican=pelican_link, attila=attila_link %}Published with {{ pelican }} &bull; Theme {{ attila }} &bull;{% endtrans %}{% endset %}
        {% endif %}

        {{ left }}
      {% endif %}
      <a class="menu-item js-theme" href="#" data-system="{% trans %}System theme{% endtrans %}" data-dark="{% trans %}Dark theme{% endtrans %}" data-light="{% trans %}Light theme{% endtrans %}">
        <span class="theme-icon"></span><span class="theme-text">{% trans %}System theme{% endtrans %}</span>
      </a>
    </span>
  </nav>
</div>
