{% include "partials/footer_extra.html" %}

<div class="nav-footer">
  <nav class="nav-wrapper" aria-label="Footer">
    <span class="nav-copy">{{ SITENAME }} &copy; {{ COPYRIGHT_YEAR|default(2026) }}</span>

    <span class="nav-credits">
      {% if SHOW_CREDITS|default(True) %}
        {% if SHOW_CREDITS and SHOW_CREDITS.left %}
          {% set left = SHOW_CREDITS.left %}
        {% else %}
          {% set pelican_link %}<a href="https://github.com/getpelican/pelican" rel="nofollow">Pelican</a>{% endset %}
          {% set attila_link %}<a href="https://github.com/arulrajnet/attila" rel="nofollow">Attila</a>{% endset %}
          {% set left %}{{ i18n.t("Published with %(pelican)s &bull; Theme %(attila)s &bull;", pelican=pelican_link, attila=attila_link) }}{% endset %}
        {% endif %}
        {% set right = SHOW_CREDITS.right if (SHOW_CREDITS and SHOW_CREDITS.right) else "" %}

        {{ left }} {{ right }}
      {% endif %}
    </span>
  </nav>
</div>
