{% set content_html = article.content if article else (page.content if page else "") %}
{% set needs_osm = "pelican.plugins.osm" in PLUGINS and 'class="osm-map' in content_html %}
{% set needs_heatmap = "pelican.plugins.heatmap" in PLUGINS and 'id="writing-heatmap"' in content_html %}

<link rel="stylesheet" href="{{ STATIC_SITEURL|default(SITEURL) }}/{{ THEME_STATIC_DIR }}/css/style.css">

{% if needs_osm %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ SITEURL }}/static/pelican_osm/css/osm-map.css">
{% endif %}

{% if needs_heatmap %}
  <link rel="stylesheet" href="{{ SITEURL }}/static/heatmap/pelican_heatmap.css">
{% endif %}

{% if PAGEFIND_ENABLED|default(False) %}
  <link href="{{ STATIC_SITEURL|default(SITEURL) }}/pagefind/pagefind-component-ui.css" rel="stylesheet">
{% endif %}

{% for css in CSS_OVERRIDE|default([]) %}
  {% if css|lower|truncate(4, True, "") == "http" %}
    {% set css = css %}
  {% elif css.startswith("/") %}
    {% set css = SITEURL + css %}
  {% else %}
    {% set css = SITEURL + "/" + css %}
  {% endif %}

  <link href="{{ css }}" rel="stylesheet">
{% endfor %}
