<link rel="stylesheet" href="{{ STATIC_SITEURL|default(SITEURL) }}/{{ THEME_STATIC_DIR }}/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous">

{% if "pelican.plugins.osm" in PLUGINS %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ SITEURL }}/static/pelican_osm/css/osm-map.css">
{% endif %}

{% if "pelican.plugins.heatmap" in PLUGINS %}
  <link rel="stylesheet" href="{{ SITEURL }}/static/heatmap/pelican_heatmap.css">
{% endif %}

{% if PAGEFIND_ENABLED|default(True) %}
  <link href="{{ SITEURL }}/pagefind/pagefind-component-ui.css" rel="stylesheet">
{% endif %}

{% for css in CSS_OVERRIDE|default([]) %}
  {% if css|lower|truncate(4, True, "") == "http" %}
    {% set css = css %}
  {% elif css.startswith("/") %}
    {% set css = SITEURL + css %}
  {% else %}
    {% set css = SITEURL + "/" + css %}
  {% endif %}

  <link href="{{ css }}" rel="stylesheet">
{% endfor %}

{% if ALLOW_GOOGLE_FONTS|default(True) %}
  <!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Lato:wght@400;700&display=swap" rel="stylesheet">
{% endif %}
