{# <!-- Choosing cover image --> #}
{% set default_cover = (STATIC_SITEURL|default(SITEURL)) ~ "/" ~ (HEADER_COVER if HEADER_COVER else THEME_STATIC_DIR ~ "/images/home-bg.jpg") %}

{# <!-- Choosing description --> #}
{% set description = SITESUBTITLE if SITESUBTITLE else "View the blog." %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "name": {{ SITENAME|tojson }},
  "url": {{ (SITEURL ~ "/")|tojson }},
  "image": {{ default_cover|tojson }},
  "description": {{ description|tojson }}
}
</script>
