{% set default_cover = (
  article.og_image if article.og_image else
  article.cover if article.cover else
  HEADER_COVER if HEADER_COVER else
  THEME_STATIC_DIR ~ "/images/post-bg.jpg"
) %}
{% if default_cover.startswith("/") %}
  {% set default_cover = SITEURL ~ default_cover %}
{% elif not default_cover.lower().startswith("http") %}
  {% set default_cover = SITEURL ~ "/" ~ default_cover %}
{% endif %}

{% set description = (
    article.headline if article.headline else
    (article.summary|striptags|truncate(140) if article.summary else "")
) %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "name": "{{ article.title|striptags|e }}{% if article.subtitle %} - {{ article.subtitle|striptags|e }}{% endif %}",
  "headline": "{{ article.title|striptags|e }}{% if article.subtitle %} - {{ article.subtitle|striptags|e }}{% endif %}",
  "datePublished": "{{ article.date }}",
  "dateModified": "{{ article.modified }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author.name|title }}",
    "url": "{{ SITEURL }}/{{ article.author.url }}"
  },
  "image": "{{ default_cover }}",
  "url": "{{ SITEURL }}/{{ article.url }}",
  "description": "{{ description }}"
}
</script>
