<div class="extra-pagination">
  {% include "partials/pagination.html" %}
</div>

{% for article in articles_page.object_list %}
  {% set primary_tag=None %}
  {% if article.category %}
    {% set primary_tag=article.category %}
  {% elif article.tags %}
      {% set primary_tag=article.tags[0] %}
  {% endif %}

  <article class="post">
    <div class="inner">
      <div class="box post-box">

        <div class="post-card-meta">
          {% if primary_tag %}
            <a class="post-card-category" href="{{ SITEURL }}/{{ primary_tag.url }}">{{ (CATEGORY_TRANSLATIONS|default({})).get(primary_tag.name, primary_tag.name) }}</a>
          {% endif %}
          <time class="post-card-date" datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%Y/%m/%d") }}</time>
        </div>

        <h2 class="post-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
            {{ article.title|striptags|e }}
          </a>
          {% if article.subtitle %}
            <small class="post-subtitle">{{ article.subtitle|striptags|e }}</small>
          {% endif %}
        </h2>

        <section class="post-content">
          {% if SHOW_FULL_ARTICLE_IN_SUMMARY|default(False) %}
            {{ article.content }}
          {% else %}
            <p class="post-excerpt">
              {% if article.has_summary %}
                {{ article.summary }}
              {% elif article.summary %}
                {{ article.summary|striptags|truncate(250) }}
              {% endif %}
            </p>
          {% endif %}
        </section>

        {% if SHOW_TAGS_IN_ARTICLE_SUMMARY|default(False) and article.tags %}
          <aside class="post-tags">
            {% for tag in article.tags[0:3] %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
            {% endfor %}
          </aside>
        {% endif %}

      </div>
    </div>
  </article>
{% endfor %}

{% include "partials/pagination.html" %}
