<div class="nav-header">
  <nav class="nav-wrapper" aria-label="Main">
    {% if SITE_LOGO %}
      <span class="logo">
        <a href="{{ SITEURL }}" title="Home"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
      </span>
    {% endif %}

    {% include "partials/navigation-items.html" %}
  </nav>

  <div class="nav-wrapper-control">
    <div class="inner">
      <a class="nav-menu" role="button"><i class="fa-solid fa-bars" aria-hidden="true"></i>Menu</a>
      {% if PAGEFIND_ENABLED|default(True) %}
      <button class="nav-search" title="Search" aria-label="Search"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></button>
      {% endif %}
    </div>
  </div>
</div>

<div class="nav-close" role="button" aria-label="Close"></div>
