<div class="nav-header">
  <nav id="site-navigation" class="nav-wrapper" aria-label="Main">
    {% if SITE_LOGO %}
      <span class="logo">
        <a href="{{ SITEURL }}" title="Home"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
      </span>
    {% endif %}

    {% include "partials/navigation-items.html" %}
  </nav>
</div>

<div class="nav-wrapper-control">
  <div class="inner">
    <button type="button" class="nav-menu" aria-expanded="false" aria-controls="site-navigation">{{ icons.icon("bars") }}<span>Menu</span></button>
    {% if PAGEFIND_ENABLED|default(False) %}
    <button type="button" class="nav-search" title="Search" aria-label="Search">{{ icons.icon("search") }}</button>
    {% endif %}
  </div>
</div>

<button type="button" class="nav-close" aria-label="Close menu"></button>
