{% if article.series %}
<div class="series">
  <p>{{ i18n.t('This post is part %(index)s of the "%(name)s" series:', index=article.series.index, name=article.series.name) }}</p>
  <ol class="parts">
  {% for part_article in article.series.all %}
    <li {% if part_article == article %}class="active"{% endif %}>
      <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}{% if part_article.subtitle %} - {{ part_article.subtitle }}{% endif %}</a>
    </li>
  {% endfor %}
  </ol>
</div>
{% endif %}
