name: Package Build and Test

on: [push]

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        version: "latest"
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        uv --version
        uv sync --all-groups

    - name: Run ruff
      run: |
        uv run ruff check .
        uv run ruff format .

    - name: Test with pytest
      run: |
        uv run pytest
